In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import MisrToolkit as mtk # needs python3.6
# from mpl_toolkits.basemap import Basemap # needs python 3.8?
import sys # to check python version
import os
import glob
import datetime as dt

In [2]:
# check python version
t1 = dt.datetime.now()
sys.version

'3.6.13 |Anaconda, Inc.| (default, Feb 23 2021, 12:58:59) \n[GCC Clang 10.0.0 ]'

In [3]:
# load training dataset

# home_dir = "/media/ehsan/6T_part1/2016/april_2016/14528_apr2016/project_april_2016_3cam/training_data"
home_dir = "/Users/ehsanmos/Documents/RnD/MISR_lab/ML_research/training_dataset"

# in_csv = "myMethod_merged_april_2016_9cam_4bands_training_dataset.csv"
in_csv = "oldMethod_MisrAtmCalibratedModel_april_2016_training_dataset.csv"


ds_fp = os.path.join(home_dir, in_csv)
os.path.isfile(ds_fp)

True

In [4]:
# read data

in_ds = pd.read_csv(ds_fp)

In [5]:
in_ds.head(5)

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms,weight,npts,cloud,var
0,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750,0.5,8.0,-1,1.827518
1,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000,0.5,0.5,-1,0.000000
2,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353,0.5,8.5,-1,1.919447
3,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824,0.5,8.5,-1,3.094357
4,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000,0.5,1.0,-1,0.305000

In [6]:
in_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120969 entries, 0 to 120968
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   #path       120969 non-null  int64
 1    orbit      120969 non-null  int64
 2    img_block  120969 non-null  int64
 3    line       120969 non-null  int64
 4    sample     120969 non-null  int64
 5    lat        120969 non-null  float64
 6    lon        120969 non-null  float64
 7    an         120969 non-null  float64
 8    ca         120969 non-null  float64
 9    cf         120969 non-null  float64
 10   rms        120969 non-null  float64
 11   weight     120969 non-null  float64
 12   npts       120969 non-null  float64
 13   cloud      120969 non-null  int64
 14   var        120969 non-null  float64
dtypes: float64(9), int64(6)
memory usage: 13.8 MB

In [7]:
# remove lines with zero
# Note: we must put each condition within parenthesis

# we use 3 filters to make sure we find every zero row and copy the filterd DF to new one

in_ds = in_ds.loc[(in_ds['#path']!=0) &
                 (in_ds[' orbit'] !=0) &
                 (in_ds[' img_block'] !=0)]

# in_ds = in_ds.loc[(in_ds['path']!=0) &
#                  (in_ds['orbit'] !=0) &
#                  (in_ds['block'] !=0)]

in_ds.head()

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms,weight,npts,cloud,var
0,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750,0.5,8.0,-1,1.827518
1,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000,0.5,0.5,-1,0.000000
2,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353,0.5,8.5,-1,1.919447
3,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824,0.5,8.5,-1,3.094357
4,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000,0.5,1.0,-1,0.305000

In [8]:
in_ds.shape

(120969, 15)

In [9]:
# subset necessary columns == 3 columns

# ds_3cam = in_ds[["path", "orbit", "block", "line", "sample", "lat", "lon", "Ca_r", "Cf_r", "An_r", "mean_ATM_roughness"]] # add path & block here

ds_3cam = in_ds[["#path", " orbit", " img_block", " line", " sample", " lat", " lon", " an", " ca", " cf", " rms"]] # add path & block here

ds_3cam.columns

Index(['#path', ' orbit', ' img_block', ' line', ' sample', ' lat', ' lon',
       ' an', ' ca', ' cf', ' rms'],
      dtype='object')

In [10]:
# rename last column

ds_3cam.rename(columns={"mean_ATM_roughness":"rms"}, inplace=True)
ds_3cam.columns

/Applications/anaconda3/envs/virtEnv36/lib/python3.6/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Index(['#path', ' orbit', ' img_block', ' line', ' sample', ' lat', ' lon',
       ' an', ' ca', ' cf', ' rms'],
      dtype='object')

In [11]:
# compute date-time from orbit

orbit_list = ds_3cam[' orbit'].to_list()

print(type(orbit_list))

# for x in orbit_list:
#     if x<1:
#         orbit_list.remove(x)

orbit_list_noZero = [i for i in orbit_list if i>0]

# print(len(orbit_list_noZero))
# print(min(orbit_list_noZero))
# print(max(orbit_list_noZero))

<class 'list'>

In [12]:
# use MTK and change orbit to date-time

orbit_start_stop_list = []

for orbiti in orbit_list_noZero:
    orbit_start_stop = mtk.orbit_to_time_range(orbiti)
    orbit_start_stop_list.append(orbit_start_stop)

In [13]:
# change list to np.array and extract start and stop columns 

orbit_start = np.array(orbit_start_stop_list)[:,0]
orbit_stop = np.array(orbit_start_stop_list)[:,1]

In [14]:
# add a date-time column to DF

ds_3cam['orbit_start'] = orbit_start
ds_3cam['orbit_stop'] = orbit_stop
ds_3cam.head(5)

/Applications/anaconda3/envs/virtEnv36/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Applications/anaconda3/envs/virtEnv36/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms,orbit_start,orbit_stop
0,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750,2016-04-21T22:01:26Z,2016-04-21T23:40:20Z
1,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000,2016-04-21T22:01:26Z,2016-04-21T23:40:20Z
2,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353,2016-04-21T22:01:26Z,2016-04-21T23:40:20Z
3,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824,2016-04-21T22:01:26Z,2016-04-21T23:40:20Z
4,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000,2016-04-21T22:01:26Z,2016-04-21T23:40:20Z

In [15]:
# change string to datetime format and apply it on specific DF column

ds_3cam['orbit_start'] = pd.to_datetime(ds_3cam['orbit_start'])
ds_3cam['orbit_stop'] = pd.to_datetime(ds_3cam['orbit_stop'])

/Applications/anaconda3/envs/virtEnv36/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Applications/anaconda3/envs/virtEnv36/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
ds_3cam.head()

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms,orbit_start,orbit_stop
0,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750,2016-04-21 22:01:26+00:00,2016-04-21 23:40:20+00:00
1,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000,2016-04-21 22:01:26+00:00,2016-04-21 23:40:20+00:00
2,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353,2016-04-21 22:01:26+00:00,2016-04-21 23:40:20+00:00
3,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824,2016-04-21 22:01:26+00:00,2016-04-21 23:40:20+00:00
4,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000,2016-04-21 22:01:26+00:00,2016-04-21 23:40:20+00:00

In [17]:
ds_3cam.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120969 entries, 0 to 120968
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   #path        120969 non-null  int64
 1    orbit       120969 non-null  int64
 2    img_block   120969 non-null  int64
 3    line        120969 non-null  int64
 4    sample      120969 non-null  int64
 5    lat         120969 non-null  float64
 6    lon         120969 non-null  float64
 7    an          120969 non-null  float64
 8    ca          120969 non-null  float64
 9    cf          120969 non-null  float64
 10   rms         120969 non-null  float64
 11  orbit_start  120969 non-null  datetime64[ns, UTC]
 12  orbit_stop   120969 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), float64(6), int64(5)
memory usage: 12.9 MB

In [18]:
# write out dataset with date-time

output_filename = in_csv.split('.')[0]+"_datetime.csv"

output_file_fp = os.path.join(home_dir, output_filename)
ds_3cam.to_csv(output_file_fp, encoding='utf-8-sig') # note: 'utf-8-sig' solved the problem of garbag character on Mac, but still it is an issue on Linux!
output_file_fp

'/Users/ehsanmos/Documents/RnD/MISR_lab/ML_research/training_dataset/oldMethod_MisrAtmCalibratedModel_april_2016_training_dataset_datetime.csv'

In [19]:
t2 = dt.datetime.now()
runtime = t2-t1
runtime

datetime.timedelta(0, 2, 638516)