In [9]:
import pandas as pd
import os

In [10]:
!python -V

Python 3.6.13 :: Anaconda, Inc.

In [42]:
def find_unique_pob(atmmodel_file_fp, list_of_columns):
    
    print(os.path.isfile(atmmodel_file_fp))
    in_csv_df = pd.read_csv(atmmodel_file_fp)
    print(in_csv_df.columns)
    pob_unique = in_csv_df.drop_duplicates(subset=list_of_columns, keep='first', ignore_index=False)
    
    return pob_unique

In [43]:
atmmodel_csv = 'atmmodel_july_2016_1to16.csv'
home_dir = '/Users/ehsanmos/MLP_dataset/july_2016'
in_csv = os.path.join(home_dir, atmmodel_csv)

In [50]:
# in_csv = os.path.join(home_dir, atmmodel_csv)
# os.path.isfile(in_csv)

In [51]:
# in_csv_df = pd.read_csv(in_csv)
# in_csv_df.columns

In [52]:
# find unique values in POB columns

list_of_cols = ['#path',' orbit', ' img_block']

In [56]:
pob_in_ds = find_unique_pob(in_csv, list_of_cols)
pob_in_ds

True
Index(['#path', ' orbit', ' img_block', ' line', ' sample', ' lat', ' lon',
       ' an', ' ca', ' cf', ' rms', ' weight', ' npts', ' cloud', ' var'],
      dtype='object')

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms,weight,npts,cloud,var
0,93,88127,29,52,1912,74.129692,199.405884,-1.000000,-1.000000,-1.000000,12.213750,0.5,4.0,1,1.464982
70,157,88131,10,35,2011,74.129692,199.405884,-1.000000,-1.000000,-1.000000,12.058000,0.5,2.5,1,1.747220
146,84,88141,30,400,634,74.129692,199.405884,0.262749,0.437330,0.407132,10.210000,0.5,0.5,1,0.000000
304,164,88146,8,345,1110,74.129692,199.405884,0.571981,0.898265,1.826014,11.720000,1.0,2.0,1,1.510000
388,91,88156,29,269,1646,74.129692,199.405884,0.621173,0.622404,-1.000000,12.058000,1.0,5.0,1,1.747220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31965,75,88155,31,195,365,73.732641,209.975717,0.343555,0.584190,0.701965,3.443333,0.5,1.5,1,0.252234
39827,166,88117,8,498,538,75.152126,200.256900,0.237019,0.647019,0.501372,3.450000,0.5,1.0,1,0.030000
41481,77,88126,28,431,101,76.904426,210.000066,-1.000000,-1.000000,0.809159,5.032000,0.5,2.5,1,2.402927
42088,84,88141,27,413,878,76.904426,210.000066,0.728416,0.784885,0.919944,4.820000,1.0,1.0,1,0.000000
42398,148,88145,12,61,1481,76.904426,210.000066,0.363249,0.565248,1.849716,4.820000,0.5,0.5,1,0.000000