In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import MisrToolkit as mtk # needs python3.6
# from mpl_toolkits.basemap import Basemap # needs python 3.8?
import sys # to check python version
import os
import glob
import datetime as dt

In [2]:
# check python version
sys.version

'3.6.9 (default, Dec  8 2021, 21:08:43) \n[GCC 8.4.0]'

In [3]:
# load training dataset
# ds_fp = "/Users/ehsanmos/Documents/RnD/MISR_lab/ML_research/training_dataset/merged_april_2016_9cam3bands.csv"

# ds_fp = "/home/ehsan/misr_lab/training_dataset/april_2016/april_2016_parts/merged_april_2016_9cam_4bands_final_dataset_2.csv"
ds_fp = "/media/ehsan/6T_part1/2016/april_2016/14528_apr2016/project_april_2016_3cam/training_data/MisrAtmCalibratedModel_april_2016_testRun.csv"

in_ds = pd.read_csv(ds_fp)

In [4]:
in_ds.head(5)

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms,weight,npts,cloud,var
0,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750,0.5,8.0,-1,1.827518
1,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000,0.5,0.5,-1,0.000000
2,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353,0.5,8.5,-1,1.919447
3,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824,0.5,8.5,-1,3.094357
4,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000,0.5,1.0,-1,0.305000

In [5]:
# remove lines with zero
# Note: you must put each condition within parenthesis

# we use 3 filters to make sure we find every zero row and copy the filterd DF to new one
in_ds = in_ds.loc[(in_ds['#path']!=0) &
                 (in_ds[' orbit'] !=0) &
                 (in_ds[' img_block'] !=0)]
in_ds.head()

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms,weight,npts,cloud,var
0,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750,0.5,8.0,-1,1.827518
1,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000,0.5,0.5,-1,0.000000
2,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353,0.5,8.5,-1,1.919447
3,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824,0.5,8.5,-1,3.094357
4,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000,0.5,1.0,-1,0.305000

In [6]:
in_ds.shape

(120969, 15)

In [7]:
# ds_3cam = in_ds[["path", "orbit", "block", "line", "sample", "lat", "lon", "Ca_r", "Cf_r", "An_r", "mean_ATM_roughness"]] # add path & block here

ds_3cam = in_ds[["#path", " orbit", " img_block", " line", " sample", " lat", " lon", " an", " ca", " cf", " rms"]] # add path & block here

In [8]:
ds_3cam.rename(columns={"mean_ATM_roughness":"rms"}, inplace=True)
ds_3cam.columns

/home/ehsan/.local/lib/python3.6/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Index(['#path', ' orbit', ' img_block', ' line', ' sample', ' lat', ' lon',
       ' an', ' ca', ' cf', ' rms'],
      dtype='object')

In [9]:
# # determine range to print based on min, max lat and lon of the data
# # is it necessary?
# xlon = ds_3cam[' lon']
# ylat = ds_3cam[' lat']


# margin = 2 # buffer to add to the range
# lat_min = min(ylat) - margin
# lat_max = max(ylat) + margin
# lon_min = min(xlon) - margin
# lon_max = max(xlon) + margin

In [10]:
# print(lat_min)
# print(lat_max)
# print(lon_min)
# print(lon_max)

NameError: name 'lat_min' is not defined

In [ ]:
# for plotting needed # from itertools import chain

# def draw_map(m, scale=0.2):
#     # draw a shaded-relief image
#     m.shadedrelief(scale=scale)
    
#     # lats and longs are returned as a dictionary
#     lats = m.drawparallels(np.linspace(-90, 90, num=7))
#     lons = m.drawmeridians(np.linspace(-180, 180, num=18))

#     # keys contain the plt.Line2D instances
#     lat_lines = chain(*(tup[1][0] for tup in lats.items()))
#     lon_lines = chain(*(tup[1][0] for tup in lons.items()))
#     all_lines = chain(lat_lines, lon_lines)
    
#     # cycle through these lines and set the desired style
#     for line in all_lines:
#         line.set(linestyle='-', alpha=0.3, color='w')

In [ ]:
# ref: https://stackoverflow.com/questions/44488167/plotting-lat-long-points-using-basemap
# basemap = Basemap(llcrnrlon=lon_min,
#                     llcrnrlat=lat_min,
#                     urcrnrlon=lon_max,
#                     urcrnrlat=lat_max,
#                     lat_0=(lat_max - lat_min)/2,
#                     lon_0=(lon_max-lon_min)/2,
#                     projection='ortho',
#                     resolution = None,
#                     area_thresh=10000.,)

In [ ]:
# basemap.shadedrelief()
# basemap.drawcoastlines(color='gray')
# basemap.drawcountries(color='gray')
# basemap.drawstates(color='gray')



# basemap.drawcoastlines()
# basemap.drawcountries()
# basemap.drawstates()
# basemap.drawmapboundary(fill_color='#46bcec')
# basemap.fillcontinents(color = 'white',lake_color='#46bcec')

In [ ]:
# fig = plt.figure(figsize=(12, 12))

# basemap = Basemap(projection='ortho', resolution=None, lat_0=90, lon_0=180)

# # locations on map: convert lat and lon to map projection coordinates
# xlons, ylats = basemap(xlon, ylat)

# plt.plot(xlons, ylats, 'ok', markersize=1)

# # draw a circle on map on 60N  
# basemap.drawparallels([60], color='red') #, labels='test'????)
# plt.title('Study Region, 60N', fontsize=16)

# draw_map(basemap);

# how zoom to the region?

In [ ]:
# needed for plotting
# def make_the_map(XlonSet, YlatSet):
    
#     fig = plt.figure(figsize=(12, 12))

#     basemap = Basemap(projection='ortho', resolution=None, lat_0=90, lon_0=180)

#     # locations on map: convert lat and lon to map projection coordinates
#     xlons, ylats = basemap(XlonSet, YlatSet)

#     plt.plot(xlons, ylats, 'ok', markersize=1)

#     # draw a circle on map on 60N  
#     basemap.drawparallels([60], color='red') #, labels='test'????)
#     plt.title('Study Region, 60N', fontsize=16)

#     draw_map(basemap);
#     return 0;

In [ ]:
# run with oython >= 3.8

# make_the_map(xlon, ylat)

In [ ]:
ds_3cam[' orbit']

In [ ]:
# compute time from orbit

orbit_list = ds_3cam[' orbit'].to_list()
print(type(orbit_list))

# for x in orbit_list:
#     if x<1:
#         orbit_list.remove(x)

orbit_list_noZero = [i for i in orbit_list if i>0]

# print(len(orbit_list_noZero))
# print(min(orbit_list_noZero))
# print(max(orbit_list_noZero))

In [ ]:
# use mtk and change orbit to date-time

orbit_start_stop_list = []
for orbiti in orbit_list_noZero:
    orbit_start_stop = mtk.orbit_to_time_range(orbiti)
    orbit_start_stop_list.append(orbit_start_stop)

In [ ]:
# change list to np.array and extract start and stop columns 

orbit_start = np.array(orbit_start_stop_list)[:,0]
orbit_stop = np.array(orbit_start_stop_list)[:,1]

In [ ]:
# orbit_start

In [ ]:
# add a date-time column to DF

ds_3cam['orbit_start'] = orbit_start
ds_3cam['orbit_stop'] = orbit_stop

In [ ]:
# change string to datetime format
# notes: String to datetime object = strptime & datetime object to other formats = strftime

# orbit_start[0]
# dt_format = "%Y-%m-%dT%H:%M:%SZ"
# dt.datetime.strptime(orbit_start, dt_format)

In [ ]:
# change string to datetime format and apply it on specific DF column

ds_3cam['orbit_start'] = pd.to_datetime(ds_3cam['orbit_start'])
ds_3cam['orbit_stop'] = pd.to_datetime(ds_3cam['orbit_stop'])
ds_3cam.head()

In [ ]:
# extract transect by date
# filter for 19-april and then plot the transect for both my method and old method and then compare...

transect_19apr = ds_3cam.loc[(ds_3cam['orbit_start'] >= '2016-04-19 00:00:00') & (ds_3cam['orbit_stop'] <= '2016-04-19 03:00:0')]
transect_19apr

In [ ]:
# extract transect by guessing longitudes
transect_19apr = transect_19apr.loc[(transect_19apr[' lon'] > 200.0) & (transect_19apr[' lon'] < 230.0)]
transect_19apr

In [ ]:
# create a column as index and set that column as index to plot transect

# lon_subset['index'] = [i for i in range(len(lon_subset['lon']))]
transect_19apr.index = range(1,len(transect_19apr)+1)
transect_19apr.head()

# set that column as index
# lon_subset.set_index['index']

In [ ]:
# select a smaller subset of transect, like the first 1000 points (or 10)

# transect_small = transect.iloc[0:10000]
transect_small = transect_19apr
transect_small.head()

In [ ]:
# needed for plotting
# xlon270 = transect_small[' lon']
# ylat270 = transect_small[' lat']

In [ ]:
# run with python >= 3.8

# make_the_map(xlon270, ylat270)

In [ ]:
# extract transect data write it out

# output_filename = "insample_atm_withPathOrbit_3cams_forTransect_mymethod_19apr.csv"
output_filename = "insample_atm_withPathOrbit_3cams_forTransect_oldCodeMethod_19apr.csv"

# output_path = "/Users/ehsanmos/Documents/RnD/MISR_lab/ML_research/training_dataset"
output_path = "/media/ehsan/6T_part1/2016/april_2016/14528_apr2016/project_april_2016_3cam/training_data"

transect_small.to_csv(os.path.join(output_path, output_filename))